@import "reset.less";

@bg1: #1e3189;
@bg2: #2561f2;
@bg3: #3a126b;
@bg8: #3f3589;
@bg4: #e66ea5;
@bg5: #5d22b7;
@bg6: #f97f71;
@bg7: #5260B7;
@bg8: #331C6E;
@bg9: #ffddeb;
@bg10: #4b51a7;
@bg11: #e0e3ff;
@linear-gradient: linear-gradient(90deg, @bg8 0%, @bg7 100%);
@cr: #fff;
@ff: 'SoftLineExtra';
@ff2: 'Righteous';
@maxwidth: 1440;
@width: 767px;
.font-size(@pc, @mob) {
  @add: @pc - @mob;
  @addMob: @add + @add * 0.7;
  @media (max-width: @width) {
    font-size: calc(~'@{mob}px' + ~'@{addMob}' * ((100vw - 320px) / ~'@{maxwidth}'));
  }
  @media (min-width: @width) {
    font-size: calc(~'@{mob}px' + ~'@{add}' * (100vw / ~'@{maxwidth}'));

  }
}

.width-img(@pc, @mob) {
  @add: @pc - @mob;
  @addMob: @add + @add * 0.7;
  @media (max-width: @width) {
    width: calc(~'@{mob}px' + ~'@{addMob}' * ((100vw - 320px) / ~'@{maxwidth}'));
  }
  @media (min-width: @width) {
    width: calc(~'@{mob}px' + ~'@{add}' * (100vw / ~'@{maxwidth}'));

  }
}

.padd(@pc, @mob) {
  @add: @pc - @mob;
  @addMob: @add + @add * 0.7;
  @media (max-width: @width) {
    padding: calc(~'@{mob}px' + ~'@{addMob}' * ((100vw - 320px) / ~'@{maxwidth}'));
  }
  @media (min-width: @width) {
    padding: calc(~'@{mob}px' + ~'@{add}' * (100vw / ~'@{maxwidth}'));

  }
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  line-height: 20px;
  font-style: normal;
  font-size: 20px;
  color: @cr;
}
div {
  box-sizing: border-box;

  &:after, &:before {
    content: '';
    display: block;
    clear: both;
  }
}

.blog {
  .card,
  &-article {
    box-shadow: 0 6px 8.55px 0.45px rgba(26, 26, 26, 0.16);
    background: @bg11;
    border-radius: 30px;

    &-title {
      .font-size(23, 14);
      font-weight: 500;
    }

    &-text {
      .font-size(23, 14);
    }
  }

  &-article {
    padding: 20px;
    .font-size(23, 14);

    h3 {

      .font-size(23, 14);
      font-weight: 500;
    }

    a {
      color: #cfa1e8;
    }
  }
}

.field__file-fake {
  .font-size(18, 10);
  margin-left: 15px;
  color: @bg10;
}

@import "slide.less";
.wrapper {
  overflow-x: hidden;
}

.relative {
  position: relative;
}

.h {
  &-min {
    &-header {
      min-height: 348px;
    }
  }
}

.header, .footer {
  background-repeat: no-repeat;
  background-size: 100% 100%;

}

.header {
  padding: 15px 0;
  background-image: url("../images/bg-sm.png");

  .tagline {
    width: 100%;

    &-img {
    }
  }


  .btn {
    margin-top: 5px;
  }

  .text {
    font-weight: bold;
    .font-size(20, 14);
    line-height: 20px;
  }
}

h1 {
  //font-size: 16px;
  .font-size(50, 16);
  color: #acb2ff;
  font-weight: bold;
  font-style: normal;
}

.h5, .h4 {
  .font-size(23, 18);
  color: @bg1;
  margin-bottom: 35px;
  margin-top: 50px;
}

.h4 {
  margin-top: inherit;
  margin-bottom: inherit;
  text-align: center;
  .font-size(23, 16);
}

.info {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0 5px;

    &:last-child {
      margin-left: 30px;
    }
  }

  a {
    color: @cr;
    font-weight: bold;
  }
}

.invalid {
  &-feedback {
    background: rgba(230, 110, 165, 0.5);
    .font-size(18, 10);
    color: @bg10;
    padding: 5px;
  }
}

.form {
  &-group {
    padding: 5px 0;
  }

  &-control {
    //color: @cr;
    background-color: transparent;
    border: 2px solid @bg7;
    .font-size(23, 14);

    &:focus {
      background-color: transparent;
      //color: @cr;
    }

    &::placeholder {
      //color: @cr;
    }
  }

  label {
    display: none;
  }

  //&-control {
  //  margin: 5px 0;
  //}
}

input[type="file"] {
  @wh: 0.1px;
  width: @wh;
  height: @wh;
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.btn {
  @bs: 2px 2px 10px 2px black;
  @trans: box-shadow .5s;
  color: @cr;
  -webkit-transition: @trans;
  -moz-transition: @trans;
  -o-transition: @trans;
  transition: @trans;

  &-light {
    &-pink {
      background: @bg9;

    }
  }

  &-pink {
    background: @bg4;

  }

  &-purple {
    background: @bg8;
    box-shadow: 0 1px 21px 0 @bg8;

    &:hover {
      color: @cr;
      box-shadow: 2.5px 4.33px 12.32px 3.68px rgba(56, 39, 122, 0.7);
    }

    &:active {
      background: #2f2671;
      color: @cr;
      box-shadow: 0 5px 12.32px 3.68px rgba(56, 39, 122, 0.7);
    }
  }

  &-lg {
    padding: 10px;
    .font-size(23, 12);
  }

  &-sm {
    padding: 10px 20px;
    .font-size(18, 14);
  }

  &-lg, &-sm {
    border-radius: 15px;
  }

  span {
    padding-left: 10px;
  }

  &-email {
    border-radius: 100%;
    padding: 15px;
    position: fixed;
    z-index: 999;
    bottom: 0;
    left: 20px;

    .fa-envelope {
      color: #000000;
    }
  }
}

.bold {
  font-weight: bold;
}

.b {
  &-flex {
    display: flex;
  }
}

.bg {
  &-header {
    &-img {

      object-fit: contain;
      float: right;
      width: 50%;
      min-height: 100%;

    }

  }

  &-light {
    background: -moz- @linear-gradient;
    background: -webkit- @linear-gradient;
    background: -ms- @linear-gradient;
    background: @linear-gradient;
  }

  &-images {
    background-image: url('/images/monitor-1307227.jpg');
    z-index: 0;
    padding: 10px;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    background-repeat: no-repeat;

    &:after {
      z-index: -1;
      min-height: 100%;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background: #000;
      opacity: 0.4;
    }
  }
}

.border {
  @br: 2px solid @bg2 !important;
  position: relative;

  &:before {
    content: '';
    border: 2px dashed @bg7;
    display: block;
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: -1;
    top: -20px;
    left: -20px;
    border-radius: 50px;
  }

  &-bottom {
  }
}

.alert {
  &-success {
    .font-size(18, 10);
    color: @bg10;
    background-color: transparent;
    border-color: transparent;
  }
}

.block {
  box-shadow: 0 0 1.18px 1.82px rgba(28, 11, 70, 0.16);
  margin-top: 15px;
  border-radius: 50px;
  background: @bg11;
  padding: 0 15px 15px 15px;
  // height: 400px;
  &:hover {
    > .block_price {
      display: block;
      position: absolute;
      background: @bg11;
      top: 0;
      left: 0;
      min-height: 100%;
      width: 100%;
      border-radius: 50px;

    }
  }

  &_head {
    padding-top: 15px;

    .head {
      display: table;
      margin: auto;

      p {
        font-size: 20px;

        &:after {
          display: block;
          margin-top: 5px;
          content: '';
          background: white;
          border-radius: 50px;
          height: 10px;
        }
      }

      &-text {
        margin-left: 10px;
      }
    }
  }

  &_container {
    .text {
      margin: 1rem;

    }

  }

  &_price {
    display: none;
    position: relative;

    ul {
      list-style: none;
    }

  }

  &_content {
    line-height: 30px;
    min-height: 180px;
    color: #37374e;
  }

  ul {
    margin: 15px;
    padding: 0;
  }
}

.logo {
  @wh: 120px;

  width: @wh;
  height: @wh;
}

.margin {
  &-50 {
    margin: 50px 0;
  }
}

.table {
  th {
    padding: 0;
  }
}


.feedback {
  padding-left: 20px;
}

.nav {
  &-pills {
    background: @bg8;

    a {
      color: @cr;

    }
  }
}

.menu {
  flex-grow: 1;

  .navbar {

    .nav {


      &-link {
        .font-size(16, 12);
        padding: 0;
        color: @cr;
        text-transform: uppercase;
        font-weight: bold;
      }

      &-item {
        line-height: 25px;
      }
    }
  }

  @media (max-width: 767px) {

    .navbar {
      position: initial;

      &-light {

        .active {
          border-bottom: 11px solid @bg6;

          > .nav-link {
            color: @cr;
          }
        }
      }
    }

    #checkbox {
      &:checked {
        ~ .collapse {
          display: block;
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          z-index: 10;
        }
      }
    }
  }
}

.card {
  background-color: transparent;
  border: none;


  &-img {
    border-radius: 50%;
    max-width: 100%;
  }
}

.icon {
  color: #c4c1ea;
  position: absolute;
  bottom: 10px;
  right: 20px;

  &-woman {
    background-image: url("../images/icons/woman.svg");
    background-size: contain;
    display: block;
  }
}

.content {
  color: #5f5e62;
  padding-bottom: 55px;

  .ul {
    padding: 0;
    list-style: none;

    li {
      margin: 10px 0;
      width: 60px;
    }
  }
}

.footer {
  background-image: url("../images/bg_footer-sm.png");
  padding-top: 35px;
  @media (max-width: @width) {
    .ml-auto, .mr-auto {
      margin: unset !important;
    }
  }

  .h5 {
    color: @cr;
    margin: 0;
  }

  .h5&-head {
    margin-bottom: 40px;
  }

  &-body {
    padding-bottom: 15px;
  }
}

.fa {
  &-quote {
    &-right {
      text-shadow: 10px -20px 0 @bg9;
    }
  }
}

@media (max-width: 992px) {

  .menu {
    .navbar {
      padding: 0;
    }

    ul {
      padding: 0 20px;
    }
  }

  .justify {
    &-content {
      &-flex {
        &-end {
          justify-content: flex-end;
        }
      }
    }
  }
}

@media (min-width: 992px) {

  .justify {
    &-content {
      &-space {
        &-between {
          justify-content: space-between;
        }
      }
    }
  }

  .content {
    padding-bottom: 260px;
  }

.swiper-slide{
  &:nth-child(3n){
      > .block {
        &:hover {
          border-radius: 0 50px 50px 0;
          > .block_price {
            left: -100%;
            border-radius:  50px 0 0 50px;
          }
        }
      }
    }
  }
  .block {
    &:hover {
      border-radius: 50px 0 0 50px;
      > .block {
        &_price{

         left: 100%;
         z-index: 9;
         border-radius: 0 50px 50px 0;
        }

      }
      .block{
        &_content{
          ul{
            li{
              border-bottom: 5px solid white;
            }
          }
        }
      }
    }

  }
}

.fp-section.fp-table, .fp-slide.fp-table {
  display: block;
  table-layout: inherit;
  width: 100%;
}
@media (max-width: 1200px) {
  //.header {
  .btn {
    margin: 10px 0;
  }

  //}
}

@media (min-width: 1200px) {

  .container {
    max-width: 1240px;
  }

}

@media (min-width: 1220px) {
  .navbar {
    &-collapse {
      flex-grow: 0;
    }
  }

  .nav {
    &-item {
      margin: 0 26px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    line-height: 41px;
  }
  //.header, .footer{
  //  min-height: 100vh;
  //  display: flex;
  //}

  html, body{
   // height: 100%;
  }
  .wrapper{
    //min-height: 100vh;
    //display: flex;
    //flex-direction: column;
  }
  .scroll{
    overflow: hidden;
    //display: flex;
    //flex-direction: column;
    //width: 100%;
    height: 100%;
    &-screen{
      flex: 1 0 100%;
    }
  }
  .blog {
    .card, &-article {
      box-shadow: none;
      border-radius: 50px;
    }
  }

  .form {
    //&-control {
    //  margin: 15px 0;
    //}
    &-group {
      padding: 15px 0;
    }
  }

  .h {
    &-min {
      &-header {
        min-height: 838px;
      }
    }
  }

  h1 {
    //font-size: 1.5em;
    line-height: 41px;
  }

  .h4 {
    text-align: left;
  }

  .team {
    background-image: url("../images/team/bg.png");
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;

    .h5 {
      padding-top: 250px;
      color: @cr;
    }
  }

  .btn {

    &-lg {
      border-radius: 36.5px;
      padding: 20px;
    }

    &-email {
      border-radius: 0 0 50px 50px;
      background: @bg4;
      transform: rotate(-90deg);
      left: -100px;
      top: 50%;
      bottom: unset;
    }
  }


  .label {
    &-none {
      display: none;
    }
  }

  .bg {
    &-header {
      &-img {
        float: none;
        width: 100%;
      }
    }

    &-light {
      background: transparent !important;
    }
  }

  .menu {

    .navbar {
      &-light {

        .active {
          position: relative;

          &:before {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 11px;
            background: @bg4;
            bottom: -265%;
          }
        }
        .nav-link {
          &:hover{
            color: @bg4;
          }
        }
      }

    }
  }

  h1 {
    font-size: 3.1em;
  }

  .header {
    font-size: 16px;
    padding: 35px 0 160px;
    background-image: url("../images/bg-lg.png");

    .btn {
      margin-top: 30px;
    }

    .text {
      line-height: inherit;
    }

    .border-bottom {
      padding-top: 20px;
      margin-bottom: 80px;
      border-bottom: 1px solid @bg3 !important;

    }

    .tagline {
      width: 60%;

      &-img {
        width: 40%;
        position: initial;
        min-height: 100%;
        height: unset;


        &-img {
          width: 108%;
          height: 100px;
          position: absolute;
          bottom: 0;
          color: #470f00;
          left: 87%;
        }
      }
    }
  }

  .footer {
    background-image: url("../images/bg_footer-lg.png");
    padding-top: 150px;

    &-body {
      padding-bottom: 70px;
    }

    .h5&-head {
      margin-bottom: 150px;
    }
  }
}
