//@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&display=swap&subset=cyrillic,cyrillic-ext');
@import "reset.less";
@bg1: #1e3189;
@bg2: #2561f2;
@bg3: #3a126b;
@bg4: #fe5aa7;
@bg5: #5d22b7;
@bg6: #f97f71;
@cr: #fff;
body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  font-style: normal;
  color: @cr;
}

div {
  box-sizing: border-box;

  &:after, &:before {
    content: '';
    display: block;
    clear: both;
  }
}

.header {
  background: @bg1;
  padding: 20px;
}
.logo {
  &-link {
    @wh: 120px;
    @url: url("/images/logo-light.png");
    background-image: @url;
    -moz-background-image: @url;
    -o-background-image: @url;
    -webkit-background-image: @url;
    background-repeat: no-repeat;
    background-size: contain;
    width: @wh;
    height: @wh;
    display: inline-block;
  }
}
.menu{
  #checkbox{
    &:checked{
      ~ .collapse{
        display: block;
      }
    }
  }
}
@import "adaptive.less";